@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
:root {
  --bg-color: #000;
  --link-color: #ABC3DA;
  --link-hover-color: #7C6A66;
  --color-4: #000;
  --color-5: #000;
	
/* --primary-font: 'Rajdhani', sans-serif;*/
--primary-font:  'Tajawal', sans-serif;
--secondary-font: 'Rajdhani', sans-serif;
--fontsizeongraphics: 3vw;
	--color1:#ABC3DA;
	--color2:#7F8989;
	--color3:#505554;
	--color4:#7C6A66;
	--color5:#A9B2B0;
}
body{padding: 0;
	margin:0;
background-color: var(--color5);}

h2{font-family: var(--secondary-font);}

p{ font-family: var(--secondary-font);}
.slider p{font-family: var(--secondary-font);}
a{color:white;
	text-decoration: none;
}
	
nav{position: absolute;
top:0;
	width: 100%;
	height: 5vh;
	font-family: var(--primary-font);
	color: var(--color3);
	z-index: 99999;
font-size: 3.3vw;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	margin-top: 0vh;
	margin-left: 0em;
	text-align: left;
}

nav ul li{
	color: var(--color3);
	text-decoration: none;
	list-style: none;
	display: inline;
	margin-right: 2em;
	margin-left: 1em;
}
.pagebannerimage{
	width: 100vw;
	height: 50vh;
	grid-row: 1;
	grid-column: span 2;
	overflow: hidden;
}
.pagebannerimage img{
	width: 100vw;
	height: auto;
	margin-top: -20vh;
}
.displaynone{
	display: none;
}

/* Main page */
.mainpagelayout{
	display: grid;
	max-width: 100vw;
	height: 100%;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 60vh auto auto auto auto auto auto;
	position: relative;
}
.categoryselction{
	grid-row: 2;
	grid-column: span 2;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-top: 0.2em;
}

.categoryselector{
	width: 20vw;
	overflow-y: hidden;
	border: transparent;
	border-style: solid;
	border-width: 0.2em;
	position: relative;
	z-index: 0;
	
}
.categoryselction a{
	overflow: hidden;
	text-align: center;
}
.categoryselction a img{
	width: 20vw;
	height: auto;
	opacity: 0.8;
}
.categoryname{
	z-index: 1000;
	font-size: var(--fontsizeongraphics);
	color: aliceblue;
	position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
}
.aboutusHomepagebanner{
	grid-row: 4;
	grid-column: span 2;
	height: 33vw;
	width: 40vw;
	overflow: hidden;
	position: relative;
}
.aboutusHomepagebanner article img{
	width: 50vw;
	z-index: 10;
	height: auto;
	position: absolute;}

.aboutusShowmore{
	display: grid;
	grid-template-columns: 50vw 10vw 20vw 15vw 5vw;
	grid-template-rows: 6.6vw 6.6vw 6.6vw 6.6vw 6.6vw;
	z-index: 0;
	grid-row: 4;
	grid-column: span 2;
	position: absolute;
	width: 100vw;
	height: 33vw;
	background-color: var(--color4);
}

.aboutusShowmore h2{
	color: aliceblue;
	margin-bottom: 0em;
	grid-column-start: 3;
	grid-column-end: span 4;
	grid-row: 1;
	margin-right: 6vw;
	font-size: 5vw;
	text-align: right;
	font-family: var(--primary-font);
}
.aboutusShowmore h3{
	grid-column-start: 3;
	grid-column-end: span 4;
	margin-right: 6vw;
	grid-row: 3;
	color: aliceblue;
	font-size: 2vw;
	text-align: right;
	font-family: var(--primary-font);
}
.aboutshowmorebutton{
	text-align: center;
	width: 20vw;
	height: 7vh;
	color: black;
	background-color: white;
	grid-row:5;
	grid-column: 4;
	border-radius: 20vw;
	justify-self:right;
	display: flex;
	justify-content: center;
	transform:translateY(-1em);
    margin-right: 1vw;


}
.aboutshowmorebutton h2{
	font-size: 3vw;
	line-height: 0.5vh;
	margin-right: 0;
	text-align: center;
	color: var(--color4);
	
}
.mainadbanner{
	width: 100vw;
	height: 85vh;
	display: grid;
	grid-row: 5;
	background-color: var(--color3);
	grid-template-areas: 50vw 50vw;
	grid-template-rows: 20vh 20vh 20vh 20vh;
	padding-bottom: 1vh;
}
.mainadbanner h2{
	color: white;
	font-size: 5vw;
	grid-row: 1;
	grid-column: 1;
	margin-left: 6vw;
	font-family: var(--primary-font);
}
.mainadbanner h3{
	color: white;
	font-size: 4vw;
	grid-row: 2;
	grid-column: 1;
	font-family: var(--secondary-font);
	margin-bottom: 5vh;
	margin-left: 6vw;
}
.mainadbanner h4{
	color: white;
	font-size: 3vw;
	grid-row: 3;
	grid-column: 1;
	margin-left: 6vw;
	margin-right: 6vw;
	font-family: var(--primary-font);
	margin-bottom: 0;
	margin-top: 0;
}
.mainaddshowmorebutton{
	text-align: center;
	width: 20vw;
	height: 7vh;
	color: black;
	background-color: white;
	grid-row:4;
	grid-column: 1;
	border-radius: 20vw;
	justify-self:left;
	margin-left: 6vw;
	display: flex;
	margin-top: 6vw;
	justify-content: center;
}
.mainaddshowmorebutton h2{
	font-size: 3vw;
	line-height: 0.5vw;
	margin-left: 0;
	text-align: center;
	color: var(--color4);}

.newsletterbanner{
	grid-row: 6;
	width: 100vw;
	height: 60vh;
	display: grid;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 15vh 15vh 15vh 15vh;
	color: white;
	font-size: 3vw;
	text-align: center;

}
.newsletteremail{
	grid-column: 2;
	grid-row: 3;
	justify-self:center;
	padding-top: 2vh;
}
.newsletterbanner h2{
	margin-left: 6vw;;
	text-align: left;
}
.newsletterbanner p{
	font-size: 2.5vw;
	grid-column: 2;
	grid-row: 1;
	padding-top: 2vh;
	width: 30vw;
	justify-self:center;
	text-align: center;
}
#newsletteremailimout{
	text-align: center;
	width: 30vw;
	height: 7vh;
	color: black;
	background-color: white;
	border-radius: 20vw;
	justify-self:left;
	display: flex;
	justify-content: center;
}
.submitemail{
	grid-row: 4;
	grid-column: 2;
	text-align: center;
	width: 20vw;
	height: 7vh;
	color: var(--color4);
	border-radius: 20vw;
	display: flex;
	margin-top: 1vh;
	justify-content: center;
	justify-self:center;
}
.submitemail h2{
	font-size: 4vw;
	margin:0;
	font-family: var(--primary-font)
}

/* catagories sites*/
.categorysites{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 50vw 50vw;
	grid-template-rows: 50vh auto auto auto auto auto;
	position: relative;
	justify-items: center;
}

.searchbar{
	grid-row: 2;
	grid-column: 2;
	margin: 1em;
	
}
#myInput{
	width: 20vw;
	height: 4vh;
	background-color: white;
	border-radius: 20em;
}
.displaynone{
	display: none;
}


.showclientcards{
	grid-row: 3;
	grid-column: span 4;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	
}
.clientcardfilter{
}
.clientcard{
	margin: 2vh;
	width: 25vw;
	height: auto;
	background-color: lightblue;
	display: grid;
	position: relative;
	grid-template-columns: 1fr 1fr;
	grid-template-rows:0.25fr 0.25fr 0.25fr 0.25fr 0.25fr;
	
}
/*
.clientcardShowmore{
	width: 20vw;
	height: 170vh;
	position: absolute;
}
*/

.clientlogo{
	grid-column-start: 1;
	grid-column-end: span 2;
	grid-row: 1;
    max-height: 20vw;
}
.clientlogo img{
	width: 25vw;
	height: auto;
}
.clientname{
	position: absolute;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 2;
	font-size: 2vw;
	line-height: 0vh;
	padding-left: 0.3vh;
    padding-top: 2vh;
}
.clientshortinfo{
	position: absolute;
	white-space: nowrap;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 3;
	font-size: 1.5vw;
	padding-left: 0.4em;
	line-height: 0em;
}
.clientlocationMaps{
	position: absolute;
	grid-column: 2;
	grid-row: 2; 
	margin-top: 0.5em;
	margin-right: 1.5em;
	justify-self:end;
}
.clientlocationMaps img{
	position: absolute;
	width: 1em;
	height: auto;
   margin-top: 7vh;
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.clientlocation{
	position: absolute;
	display: block;
	grid-column: 2;
	grid-row: 3;
	white-space:normal;
	margin-right: 1vw;
	justify-self:end;
    font-size: 1.5vw;
    margin-top: 5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}
.stars{
	position: absolute;
	grid-column: 2;
	grid-row:4;
	line-height: 0em;
	margin-top: 5vh;
	margin-right:1vw;
	justify-self:end;
    padding-top: 2vh;

}
.stars img{
	width: 5vw;
	height: auto;
}
.iconidentifiers{
	grid-column: span 2;
	grid-row: 5;
	margin-left: 0.4em;
	padding-top:0.5em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.iconidentifiers img{
	height: 5vh;
	width:auto;
    max-height: 5vw;
}
.showmore{
	color: white;
	text-align: center;
	display: inline-flex;
	width: 25vw;
	height: 6vh;
	line-height: 0;
	margin-top: 1.5vh;
	grid-row: 6;
	background-color: black;

   justify-content: center;
}

.showmore>h2{
    font-size: 3.5vw;
    align-self: center;
    vertical-align: middle;


}

/** slider */

.slider {
 display: block;
 width: 100%;
 height: 60vh;
 background-color: #1f1f1f;
 overflow: hidden;
 position: absolute;
}

.slider > * {
 position: absolute;
 display: block;
 width: 100%;
 height: 100%;
 background: #1f1f1f;
 animation: slide 15s infinite;
 overflow: hidden;
}


slide:nth-child(1){
 left: 0%;
 animation-delay: -1s;
 background-image: url("media/slideshow/restaurant.jpeg");
 background-size: cover;
 background-position:top;
}

slide:nth-child(2){
 animation-delay: 2s;
 background-image: url("media/slideshow/fashion.jpg");
 background-size: cover;
 background-position:top;
}

slide:nth-child(3){
 animation-delay: 5s;
 background-image: url("media/slideshow/furniture.jpg");
 background-size: cover;
  background-position:top;
}

slide:nth-child(4){
 left: 0%;
 animation-delay: 8s;
 background-image: url("media/slideshow/goceries.jpg");
 background-size: cover;
 background-position:top;
}
slide:nth-child(5){
 left: 0%;
 animation-delay: 11s;
 background-image: url("media/slideshow/firstslide.jpg");
 background-size: cover;
 background-position:top;
}

slide p {
 font-size:5vw;
 text-align: center;
 display: inline-block;
	margin-top: 40vh;
	margin-left: 5vw;
 color:black;
	background-color: white;
text-shadow: 1px 1px whitesmoke;
}

@keyframes slide {
 0% { left: 100%; width: 100%; }
 5% { left: 0%; }
 25% { left: 0%; }
 30% { left: -100%; width: 100%; }
 30.0001% { left: -100%; width: 0%; }
 100% { left: 100%; width: 0%; }
}

.categorycheckbox{
	grid-row: 2;
	grid-column: 1;
	width: 20vw;
	height: 10vh;
	margin: 1em;
	background-color: orange;
}
.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}

footer{
width: 100vw;
height: 50vh;
background-image: linear-gradient(var(--color5), var(--color2));
display: grid;
position: relative;
grid-template-rows: 1fr 1fr;
bottom: 0;
grid-row: 10;
grid-template-columns: 1fr 1fr 1fr 1fr;

}
.footersection{
	grid-row: 1;
	margin-left: 4.5vw;
	text-align: left;
	margin-top: 2vh;
}
.footerheader{
	margin-left: 2vw;
}
.socialmediaicons{
	position: absolute;
grid-row: 2;
width: 50vw;
	height: 10vh;
	margin-left: 3vh;
	padding-top: 4vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.socialmediaicons img{
height: 5vh;
width: auto;
}
footer ul{
	text-align: left;
	font-size: 2vw;
	list-style: none;
	line-height: 4vw;
    font-family: var(--secondary-font);
    padding-left: 2vw;

}



/* landing page for each client */


.maincontentcontainer{
	width: 100%;
	height: 80vh;
	position: relative;
	display: grid;
	grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
	grid-template-rows: auto auto auto auto auto auto auto;
	padding-bottom: 10vh;
	transform: translateX(-5vw);
}
.cliendpageimage{
	grid-column: 2;
	grid-row: 2;
	width: 20vw;
	height: auto;

}
.cliendpageimage img{
	width: 20vw;
	height: auto;
}
.clientpagename{
	grid-column: 3;
	grid-row:2;
	font-size: 5em;
	margin-top:0;
	margin-left:1em;
}
.clientpageabout{
	grid-column: 3;
	grid-column-end: span 4;
	grid-row:2;
	margin-top: 5.5em;
	margin-left:5em;
}
.cliendpageimageofplace{
	width: 40vw;
	height: auto;
	grid-row: 4;
	grid-column: 2;
	grid-column-end: span 3;
}
.cliendpageimageofplace img{
	width: 40vw;
	height: auto;
}
#map{
	width:20vw;
	height: 20vw;
	grid-column: 5;
	grid-row:3;
	margin-right: 10em;
	position: absolute;
}
